<style>
.insert{
    background-color: red;
    color: wheat;
    border: 2px solid black;
}
.display{
    background-color: green;
    color: wheat;
    border: 2px solid black;
}
h1{
    text-align: center;
    justify-content: center;
}
div{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}
</style>
<h1>Welcome to Admin Portal</h1>
<div>
    <div class="insert"><a href="/insert">Insert</a></div>
    <div class="display"><a href="/display">Display</a></div>
</div>