<style>
    body{
        background-color: wheat;
    }
</style>
<h1>Search here</h1>
<form action="/search">
    <input type="search" name="name" placeholder="Enter Name">
    <input type="submit" value="Search">
</form>
<table border="1" width="100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
    </tr>
    <% if(students.length>0) {%>
        <% for (var i=0; i<students.length;i++){ %>
            <tr>
                <td><%- students[i].name%></td>
                <td><%- students[i].id%></td>
                <td><%- students[i].email%></td>
                <td><%- students[i].mno%></td>
            </tr> <%}
            %>
            <%}
            else
            {%> <tr>
               <td>Data not found</td> 
            </tr><%}
            %>
</table>  