<style>
    .container{
        background-color: burlywood;
        padding: 25px;
    }
</style>
<h1>update</h1>
<div class="container">
    <form action="" method="post">
        <label><b>Name</b></label><br>
        <input type="text" name="name" value="<%- students[0].name %>" placeholder="Enter name"><br><br>
        <label><b>Id</b></label><br>
        <input type="number" name="id" value="<%- students[0].id %>" placeholder="Enter id"><br><br>
        <label><b>Email</b></label><br>
        <input type="text" name="email" value="<%- students[0].email%>" placeholder="Enter name"><br><br>
        <label><b>Mobile Number</b></label><br>
        <input type="number" name="mno" value="<%- students[0].mno%>" placeholder="Enter id"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>